@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap"); /* ========== start global settings==========*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background-color: hsl(0deg, 0%, 98%);
}
body.active::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(hsl(233deg, 26%, 24%), transparent);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: hsl(233deg, 26%, 24%);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ========== end global settings==========*/
/* ========== start layout ==========*/
.container {
  max-width: 1000px;
  margin-right: 1rem;
  margin-left: 1rem;
}
.container_pt {
  padding-top: 2.25rem;
}
.container-pb {
  padding-bottom: 2.25rem;
}
.container-pr {
  padding-right: 1.5rem;
}
.container-pl {
  padding-left: 1.5rem;
}
.container-py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}
.container-px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.overlay {
  background-color: hsl(233deg, 8%, 62%);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

p {
  color: hsl(233deg, 8%, 62%);
  line-height: 1.5;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(214px, 1fr));
  gap: 30px;
}

/* ========== end layout ==========*/
/* ========== start button setting ==========*/
button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  padding: 0.875rem 2.1875rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  color: hsl(0deg, 0%, 100%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn:hover {
  background: linear-gradient(to right, #98e6bc, #2bb9ce);
}

/* ========== end button setting ==========*/
/* ========== start anv section ==========*/
.nav {
  background-color: hsl(0deg, 0%, 100%);
  position: relative;
  z-index: 4;
}
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}
.nav__container-logo {
  width: 8.8125rem;
  height: 1.375rem;
}
.nav__container .toggle-menu {
  font-size: 1.3rem;
}
.nav__container-links {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  top: -500%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  padding: 2rem 0;
  width: 95%;
  margin: auto;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 0.5;
}
.nav__container-links.active {
  top: 5.4rem;
  opacity: 1;
}
.nav__container-links li a {
  color: hsl(233deg, 26%, 24%);
}

/* ========== end anv section ==========*/
/* ========== start landing section ==========*/
.landing .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  z-index: 3;
}
.landing figure {
  position: relative;
  background-image: url("../images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
  width: 100%;
}
@media screen and (min-width: 765px) {
  .landing figure {
    min-height: 25rem;
    background-position: center 70%;
  }
}
.landing figure::after {
  content: "";
  background: url("../images/image-mockups.png") no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media screen and (min-width: 521px) {
  .landing figure::after {
    background-size: 52%;
  }
}
@media screen and (min-width: 440px) and (max-width: 520px) {
  .landing figure::after {
    background-size: 80%;
  }
}
.landing__img {
  width: 100%;
  margin: 0 1%;
  position: relative;
  top: -140px;
}
.landing__description {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  padding-right: 15px;
  padding-left: 15px;
}
.landing__description h1 {
  margin-top: 0;
  font-weight: 300;
  color: hsl(233deg, 26%, 24%);
  line-height: 1.3;
  font-size: 1.87rem;
}
.landing__description p {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/* ========== end landing section ==========*/
/* ========== start why section ========== */
.why {
  background-color: hsl(220deg, 16%, 96%);
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.why .container {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
.why .container__description {
  width: 600px;
  max-width: 100%;
}
.why .container__description h2 {
  font-weight: 300;
  margin-bottom: 1.2rem;
}
@media (max-width: 387px) {
  .why .container__description h2 {
    text-align: center;
    line-height: 1.4;
  }
}
.why .container__description P {
  font-size: 16px;
}
@media (max-width: 387px) {
  .why .container__description P {
    text-align: center;
  }
}
.why .container .reasons .reason {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 1.5rem;
}
.why .container .reasons .reason p {
  margin-top: 1rem;
}

/* ========== end why section ========== */
/* ========== start latest section ========== */
.latest {
  padding-top: 5rem;
  padding-bottom: 6rem;
}
.latest .container {
  display: flex;
  flex-direction: column;
}
.latest .container h2 {
  margin-bottom: 2rem;
}
.latest .container .article figure img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}
.latest .container .article__text {
  background-color: hsl(0deg, 0%, 100%);
  padding: 15px;
}
.latest .container .article__text small {
  font-size: 12.5px;
  display: block;
  margin-bottom: 13px;
}
.latest .container .article__text h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.latest .container .article__text p {
  font-size: 13px;
}

/* ========== end latest section ========== */
/* ========== start footer section ==========*/
.footer {
  background-color: hsl(233deg, 26%, 24%);
}
.footer .container {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.87rem;
  justify-content: space-between;
}
.footer .container .footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.footer .container .footer__container-logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.footer .container .footer__container-logo img {
  width: 150px;
}
.footer .container .footer__container-logo-links {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.footer .container .footer__container-logo-links li i {
  color: hsl(0deg, 0%, 100%);
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  cursor: pointer;
  font-size: 15px;
}
.footer .container .footer__container-logo-links li i:hover {
  color: hsl(136deg, 65%, 51%);
}
.footer .container .footer__container-links {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  flex: 1;
}
.footer .container .container__cpy {
  flex: 1;
}
.footer .container .container__cpy button {
  margin-bottom: 1rem;
}
.footer .container .container__cpy button p {
  font-size: 12px;
}
.footer li a {
  color: hsl(0deg, 0%, 100%);
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  font-size: 15px;
}
.footer li a:hover {
  color: hsl(136deg, 65%, 51%);
}

@media screen and (max-width: 862px) {
  .footer .container {
    grid-template-columns: 1fr;
  }
  .footer .footer__container {
    width: 100%;
    grid-template-columns: 1fr !important;
    text-align: center;
  }
  .footer__container-logo {
    justify-content: center;
    align-items: center;
    row-gap: 1.87rem;
  }
  .footer__container-links {
    margin: 1.5rem 0 1.4rem 0;
  }
  .footer .container__cpy {
    width: 100%;
    text-align: center;
  }
}
/* ========== end footer section ==========*/
/* ========== start media query ==========*/
/* large screen*/
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
  .landing {
    position: relative;
    z-index: 3;
  }
  .landing .container {
    flex-direction: row;
  }
  .landing figure {
    flex: 3;
    order: 2;
    height: 41rem;
    background-image: none;
  }
  .landing figure::before {
    content: "";
    position: absolute;
    right: -12rem;
    top: 0;
    background-image: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 140%;
    background-size: 122%;
    background-position: 0% 83%;
    height: 100%;
  }
  .landing figure::after {
    width: 120%;
    height: 122%;
    background-size: 94%;
    background-position: center 150%;
    left: 22%;
    top: -4rem;
  }
  .landing__img {
    width: 100%;
    top: -5rem;
    right: -15rem;
  }
  .landing__description {
    flex: 2;
    top: unset;
    align-items: unset;
  }
  .landing__description h1 {
    text-align: left;
  }
  .landing__description P {
    text-align: left;
  }
}
@media screen and (max-width: 992px) {
  .why,
.latest {
    z-index: -1;
  }
}
@media screen and (min-width: 800px) {
  /*nav*/
  .nav__container .toggle-menu {
    display: none;
  }
  .nav__container-links {
    position: static;
    row-gap: 0;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: unset;
    border-radius: unset;
    opacity: 1;
  }
  .nav__container-links li a {
    color: hsl(233deg, 8%, 62%);
    transition: color, width 0.5s;
    -webkit-transition: color, width 0.5s;
    -moz-transition: color, width 0.5s;
    -ms-transition: color, width 0.5s;
    -o-transition: color, width 0.5s;
    position: relative;
    font-size: 16px;
  }
  .nav__container-links li a::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 0;
    height: 4px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  }
  .nav__container-links li a:hover {
    color: hsl(233deg, 26%, 24%);
  }
  .nav__container-links li a:hover::after {
    width: 100%;
  }
}
/*Small screen*/
@media screen and (max-width: 800px) {
  .btn__nav {
    display: none;
  }
}
@media (max-width: 625px) {
  .why .reason,
.why .article__text {
    align-items: center !important;
    text-align: center;
  }
  .latest h2 {
    text-align: center;
  }
}
/* ========== end media query ==========*//*# sourceMappingURL=main.css.map */